name: NodeJS CI/CD example

# Cada que vez que haga "push" (evento) en la rama main
on:
  push:
    branches:
      - main


jobs:
  init:
    runs-on: ubuntu-latest

    steps:
      -name: event-triggered
        
